@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<div class="mainBox">
  <h2>Stylists</h2>
  <h4>@ViewBag.filterName</h4>
  @if (@Model.Count == 0)
  {
    <h3>No stylists found!</h3>
  } 
  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</li>
  }
  @using (Html.BeginForm())
  {  
    <label for="Name">Filter by name:</label>
    <input type="text" id="Name" name="name" required> 
    <input type="submit" value="Filter" class="btn btn-info btn-sm"/> 
  }
  <p>@Html.ActionLink("Show all Stylists", "Index", null, null, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Add new Stylist", "Create", null,null, new { @class = "btn btn-info btn-large" })</p>
  <p>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-info btn-sm" })</p>
</div>