@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="mainBox">
  <h2>Add a new client</h2>
  <hr />
  @using (Html.BeginForm())
  {
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, 
      new {@required="required"})
      @Html.LabelFor(model => model.Stylist)
      @Html.DropDownList("StylistId", null, "Please Select", htmlAttributes: new{required = "Please select a stylist"})
      <input type="submit" value="Add new client" class="btn btn-info btn-large" />
  }
  <p>@Html.ActionLink("Show all clients", "Index",null, null, new { @class = "btn btn-info btn-large" })</p>
</div>